.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #debde9; 
    padding: 15px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    font-size: 24px;
    color: rgb(138, 134, 134); 
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 30px;
  }
  
  .nav-links a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px;
    position: relative; 
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px; 
    width: 0%;
    height: 2px; 
    background-color: #d39ae7; 
    transition: width .3s ease, left .3s ease; 
  }
  
  .nav-links a:hover::after {
    width: 100%; 
    left: 0; 
  }
  
  .nav-links a.active {
    font-weight: bold; 
    color: black;
  }

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px; 
    }

    .nav-links li {
        margin-left: 0; 
        margin-bottom: 10px;
    }
}